<%= render 'navbar' %>
<div class='container mb-5'>
    <div class="d-flex">
      <div class="row justify-content-center">
          <h1><%= @list.name %></h1>
            <div class="d-flex justify-content-end">
              <%= link_to "add a movie", new_list_bookmark_path(@list.id), class: "btn btn-primary mb-1"%>
            </div>
          <% @list.movies.each do |movie| %>
            <div class="col-4">
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
              <div class="card-trip">
              <img src="<%= movie.poster_url %>">
                <div class="card-trip-infos">
                  <div>
                    <h2><%= movie.title %></h2>
                    <p><%= movie.rating %></p>
                    <p><%= movie.overview %></p>
                  </div>
                  <h2><%= link_to 'Delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "T'es sûr wesh ? Chauuuuud..."} %></h2>
                </div>
              </div>

            </div>
          <% end %>

      </div>
    </div>
</div>
